.content {
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 66px;
  .form {
    width: 400px;
    height: 300px;
    position: fixed;
    background: white;
    margin-left: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    bottom: 250px;
    gap: 20px;
    input {
      width: 350px;
      height: 40px;
      outline: none;
      font-size: 20px;
      border-radius: 10px;
      padding-left: 20px;
    }
    button {
      width: 140px;
      height: 40px;
      font-size: 17px;
      border-radius: 10px;
      cursor: pointer;
      background: blue;
      color: white;
      border: none;
    }
    button:hover {
      background: rgba(0, 0, 255, 0.649);
      transition: 0.2s;
    }
    .btn {
      display: flex;
      gap: 40px;
    }
  }
  .navpro {
    width: 250px;
    height: 467px;
    border-radius: 0 0 10px 10px;
    background: white;
    color: black;
    img {
      width: 100%;
    }

    h1 {
      font-size: 33px;
      margin-left: 20px;
      cursor: pointer;
      font-weight: 400;
    }
    h2 {
      font-size: 25px;
      margin-left: 20px;
      margin-top: 10px;
    }
    .pro {
      position: relative;
      button {
        width: 85%;
        height: 35px;
        cursor: pointer;
        font-size: 20px;
        border-radius: 10px;
        border: none;
        background: blue;
        color: white;
        margin-top: 18px;
      }
      button:hover {
        background: rgba(0, 0, 255, 0.711);
      }
      a {
        font-size: 40px;
        color: red;
        position: absolute;
        top: 15px;
        cursor: pointer;
      }
    }
  }
}
